@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
  }
}

body {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

@theme {
  --color-primary: #4731D3;
  --color-dark-bg: #252128;
}